.row
  .columns
    %h1 New Article
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam tempora, nulla repellat facilis laborum, vel sit dolor praesentium quaerat in unde illum deserunt doloremque beatae consequuntur libero harum iusto nemo.
