<head><link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700' rel='stylesheet' type='text/css'>
</head>

<div class="ui inverted menu">
  <div class="ui one column page grid">
    <a class="item">
      <i class="sun icon"></i> Benji Dalton
    </a>
    <div class="right menu">
      <a class="active item">
        <i class="home icon"></i> Home
      </a>
      <a class="item">
        <i class="mail icon"></i> Contact
      </a>
      <a class="item">
        <i class="lab icon"></i> Stuff
      </a>
    </div>
  </div>
</div>
