.row
  .columns
    %br
    %h1 Lorem Ipsum
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore voluptates quisquam sint rem culpa repellat aliquid exercitationem dolore aliquam soluta voluptatem id, repudiandae tenetur illum dicta, suscipit fugit quaerat molestiae?
    %p.panel
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, voluptatibus quaerat corrupti aliquid sequi! Repudiandae quisquam et odio harum dolor dolorem vitae voluptatibus fuga esse, obcaecati incidunt labore facilis possimus!