.row
  .about
    .columns.medium-3
      .profile-photo
        = image_tag "benji.jpg", class: 'profile-image'
    .columns.medium-9
      %h2.small-only-text-center about me
      %p
        There's a certain sense of accomplishment and satisfaction that comes with crafting something. I've always been fascinated by the connection of science and art, the balance of technique and creative vision. The duality in those supposedly opposite spectrums, like yin and yang, come together in a beatiful way, complimenting each other. In any case, at some point I began to feel an interest in the art and science of coding. How far down the rabbit hole will I go? It's a long way down...
.row
  .profile-more
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias recusandae laboriosam iusto officiis laborum, vitae odio quia debitis, nostrum aliquid quidem, mollitia at! Eos, consequatur eligendi itaque ullam, id neque? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit animi accusantium eligendi sapiente eum repellat temporibus recusandae, mollitia quasi illum ab, debitis quos porro quis, suscipit. Assumenda, quod dolor mollitia.